@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;

  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 25, 25, 25;

  --primary: pink;
  --primary-foreground: #e7e5da;

  --secondary: #000000;
  --secondary-foreground: #ffffff;

  --backdrop: #202020;
  --backdrop-foreground: #ffffff;
}

@layer utilities {
  .dimmed {
    @apply brightness-75;
  }

  .lighten {
    @apply brightness-125;
  }
}

@media (prefers-color-scheme: dark) {
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  @apply w-[5px] h-[5px];
}

::-webkit-scrollbar-track {
  @apply bg-[transparent];
}

::-webkit-scrollbar-thumb {
  @apply bg-[#555] rounded-lg;
}

::-webkit-scrollbar-thumb:active {
}

::-webkit-scrollbar-thumb:hover {
}
